################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/TemplateMethod/TemplateMethod/bin/Debug/netcoreapp2.1
