################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/TemplateMethod/TemplateMethod/bin/Debug/netcoreapp2.1
/TemplateMethod/.vs/TemplateMethod/DesignTimeBuild
/TemplateMethod/.vs/TemplateMethod/v15
/TemplateMethod/TemplateMethod/TemplateMethod.csproj.user
